<div style="padding: 20px; font-family: 'Segoe UI', sans-serif; max-width: 1000px; margin: auto; background-color: #cccccc; min-height: 100vh;">

  <h1 style="color: #1777d8; text-align: center; margin-bottom: 30px;">📒 Carnet d'Adresse Intelligent</h1>

  <!-- Aquí cargamos al hijo 1 -->
  <app-category-manager></app-category-manager>

  <div style="display: grid; grid-template-columns: 1fr 2fr; gap: 20px;">

    <!-- Aquí cargamos al hijo 2 -->
    <app-contact-form></app-contact-form>

    <!-- Aquí cargamos al hijo 3 -->
    <app-contact-list></app-contact-list>

  </div>
</div>
